<%= form_for(@myeventshandlers, url: {action:locals[:action]}) do |f| %>
  <% if @myeventshandlers.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myeventshandlers.errors.count, "error") %> prohibited this myeventshandler from being saved:</h2>

      <ul>
      <% @myeventshandlers.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :eventid %>
    <%= f.number_field :eventid, :value=>"#{@myeventshandlers.eventid}" %>
    <br>
    <%= f.submit locals[:submit], :class=>"btn btn-large btn-primary" %>
  </div>
<% end %>
